"""
注意:
python 13 使用虚拟环境需要将 C:\\Program Files\\Python313\\tcl\\tcl8.6 和 C:\\Program Files\\Python313\\tcl\\tk8.6 两个文件夹
复制到
C:\\Program Files\\Python313\\Lib 文件夹下
否则报错: _tkinter.TclError: Can't find a usable init.tcl
"""
paho-mqtt
wmi
win11toast
pillow
pystray
comtypes
pycaw
setuptools
pywin32